.yui-b= render :partial => 'users/profile_user_info_sidebar'

#yui-main
  .yui-b
    -box :id => "followed_companies" do
      %h3
        = @followings.total_entries
        =:followed_companies.l(:user_name => display_name(@user), :count => @followings.total_entries)
      .pagination=will_paginate @company_followings

      .clear
      .company_list
        - @followings.each do |following|
          =render :partial => "companies/company", :locals => { :company => following.followee }

