.DS_Store
.idea
.autotest

log/*.log
tmp/**

config/database.yml

# handled by symbolic links
public/plugin_assets
vendor/plugins

# Temp files - should be moved to shared/...
public/system

config/database.yml


