.DS_Store
.idea/
.idea/**
.idea/inspectionProfiles

log/*.log
tmp/**

# handled by symbolic links
public/plugin_assets
vendor/plugins

# handled by engine tasks
app/helpers/application_helper.rb

# Temp files - should be moved to shared/...
public/photos
public/logos

config/database.yml


