<p>Welcome <%= @user.first_name %>, you're all set.</p>

<p>We created Companiesandme so that you could connect with companies you love. We hope you find a company or conversation on the site worth your time.</p>

<p>Oh, and if you know of a company that you think should be on Companiesandme let us know about them and maybe let them know about us.</p>

<p>
Thanks for joining in,
Your friends at Companiesandme
</p>