<p>Hey!</p>

<p><%= @comment.username %> has added a comment to a <%= @comment.commentable_type %> 
that you commented on. Use this link to check it out:</p>

<p><%= @url %></p> 

<p>Thanks,
The <%= AppConfig.community_name %> team</p>

<p>---------------------------------------------------------------------------------
If you believe you received this notice in error, please contact support at
<%= AppConfig.support_email %></p>