<p>Hello <%= @user.first_name %>,</p>

<p>Looks like you're in need of a new password. We've reset yours temporarily to: <%= @user.password %></p>

<p>Click here to log in and create a new password:</p>

<p><%= @url %></p>

<p>If you have any questions, feel free to contact the support team at <%= AppConfig.support_email %>.</p>

<p>Thanks for joining in,
  <br/>
Your friends at Companiesandme</p>