<p>Welcome <%= @user.first_name %>,</p>

<p>Click the link below to confirm your email, and you'll be ready to start discovering and following some new companies:</p>

<p><%= @url %></p>

<p>Can't click the link? You can copy and paste it into your browser.</p>

<p>Questions or feedback? We'll look forward to hearing from you at <%= AppConfig.support_email %>.</p>

<p>On behalf of the companies and people here, thanks for joining.</p>