-# DJS TODO .yui-b= render :partial => 'users/profile_user_info_sidebar'

#yui-main
  .yui-b
    -box :id => "followers" do
      %h3
        = @followings.total_entries
        =:followers.l
      .pagination= will_paginate @followings

      .clear
      .user_list= render :partial => "followers/follower", :collection => @followings

