.yui-b
  / -box do
  /  %h3= :explore_site.l :site => AppConfig.community_name

  / TODO: remove
  %br

  %h3.alt= :popular_posts.l
  -box :class => "alt" do
    -@popular_posts.each do |post|
      =render :partial => "posts/sidebar_post", :locals => { :post => post }

  %h3.alt= :active_users.l
  -box :class => "alt" do
    -@active_users.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}
