%h3.h3.u Guidelines
.box1.box-c-guidelines-man-comments
  %h4.h4 What to remove
  %p
    %strong Respond to critical comments.
    Just by participating, it has been shown that the tone will shift in the right direction.

  %p
    %strong Remove innappropriate responses.
    You can decide what is appropriate; you're the host. But try to remove sparingly, to preserve the fragile authenticity of the conversation.

  %p
    %strong Be real.
    Every critical response is an opportunity to build loyalty. Just be honest. No one expects you or your company to be perfect. But they do expect honesty. 

