.yui-b.sidebar
  -box do
    %h3=:links.l
    %ul.checks
      %li= link_to :back_to_company_dashboard.l, dashboard_company_path(@company)

  =render :partial => "companies/dashboard_nav" 

#yui-main
  .yui-b
    -box(:class => 'fresh') do 
      %h3=:recent_company_activity.l
      =render :partial => "activities/activity", :collection => @activities
      =will_paginate @activities
