- @section = (params[:metro_area_id] ? 'metro_area' : 'companies')
-#
  .yui-b
    = render :partial => 'companies/search_options'

#yui-main
  .yui-b
    -box :class => "company_list" do
      %h3=:companies.l :site => AppConfig.community_name

      .pagination= paginating_links @companies, :params => params if @companies.page_count > 1

      %br.clear

      = render :partial => "companies/company", :collection => @companies

      %br.clear
      .pagination= paginating_links @companies, :params => params if @companies.page_count > 1