.yui-b
  %br

  %h3.alt= :recent_posts.l
  -box :class => "alt" do
    - @recent_posts.each do |post|
      =render :partial => "posts/sidebar_post", :locals => {:post => post}

  %h3.alt= :most_commented_posts.l
  -box :class => "alt" do
    - @most_discussed_posts.each do |post|
      =render :partial => "posts/sidebar_post", :locals => {:post => post}