.yui-b
  / -box do
  /  %h3= :explore_site.l :site => AppConfig.community_name

  / TODO: remove
  %br

  %h3.alt= :active_companies.l
  -box :class => "alt" do
    -@active_companies.each do |company|
      =render :partial => "companies/sidebar_company", :locals => {:company => company}

  %h3.alt= :active_users.l
  -box :class => "alt" do
    -@active_users.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}
