%h3.h3.u Guidelines
.box-c-guidelines
  .box1
    %h4.h4 Don't forget to ...
    %p
      %strong Be yourself
      \- write in a personal, conversational tone.
    %p
      %strong Use links
      for context.
    %p
      %strong Be concise.
      Try breaking posts up with sub headings.
    %p
      = "For more ideas and tips, visit our Guide to Authentic Conversations (#{ link_to('http://guide.companiesandme.com', 'http://guide.companiesandme.com')})."

  .box1
    %h4.h4 Rules to keep in mind
    %p
      %strong No advertorial 
      or direct promotion of products
    %p
      %strong No coupons 
      or special offers
    %p
      %strong Only post original content 
      you own
    %p
      %strong Use common sense, 
      use our site to create meaningful relationships with people.
    %p
      You can find the rest of the details in our 
      = link_to "Terms for Companies", '/terms/company-terms'