- @sidebar_left = true
- @section = 'companies'
- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }

.yui-b
  = render :partial => 'companies/profile_company_info_sidebar', :locals => {:company => @company}

#yui-main
  .yui-b

    - unless @posts.empty?
      -box :id => "posts" do
        %h3.alt.hd-txt
          %span.ico-sunrise.recent-coversations
            %i
            %b= "Recent Coversations"
        %br/
        = render :partial => 'posts/posts', :locals => { :posts => @posts }
    %p.but-wrap1
      = will_paginate @posts