.yui-b
  = render :partial => "guidelines_new_post"
    
#yui-main
  .yui-b
    -box do 
      %h3.h3.u= "Post a new conversation"
      .form-1.form-post-new
        = error_messages_for :post
        - form_for(:post, :url => company_posts_path(@company), :html => { :multipart => true, :class => "MainForm", :id => 'post_form'}) do |f|
          = render :partial => 'form', :locals => { :f => f}

