- @section = 'posts'
- @subsection = 'recent'
- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }

= render :partial => 'subnav'

#yui-main
  .yui-b
    -box :class => "hfeed" do
      %h3=:recent_posts.l
      = render :partial => 'posts/post', :collection => @posts
      .pagination=paginating_links @posts

= render :partial => 'explore'
