.terms
  %h3.h3.u Community Guidelines
  %p We’re going to keep it simple for you, hoping you keep it simple for us. Deal?
  %p
    %strong 1. Be Yourself
  %p We’re asking everyone to simply be themselves. Bring your passion, your values, your curiosity, and your sense of humor to the conversation. Use your real name so that we can create meaningful relationships that may one day lead far beyond a conversation on Companiesandme.
  %p
    %strong 2. Be Respectful
  %p Ask tough questions, but be respectful, as you would at a dinner party among friends. Be constructive, and keep the tone positive. No one wins in an argument, anyway. 
  %p
    %strong 3. No Selling
  %p We created this community to be an oasis from the constant barrage of advertising, so we could finally get to know the real stories and people behind the companies that surround us. It only makes sense that we would expect the same of the rest of us. Use your profile to tell people about yourself, and make sure that your contributions are worthwhile to everyone. You'll get so much more in return.
  %p Have a suggestion for these guidelines? We’d love to hear it. Email us at hello at companiesandme.com.

