.terms
  %h3.h3.u Terms for Companies

  %p Regular users of Companiesandme are limited to personal, noncommercial use. Companies agree to be bound by the additional terms of their commercial relationship with Companiesandme ("Service Agreement").

  %ol
    %li
      %strong Definitions.
      In addition to the terms defined in the body of this Agreement, the following terms have the following meanings:
      %ol.list-upper-latin
        %li
          %strong "Customer"
          means the participating Company with which Companiesandme has a commercial relationship.
        %li
          %strong "Services"
          means access to and use of Companiesandme's services and websites.
        %li
          %strong "Customer Account"
          means the specific account associated with Customer.
        %li
          %strong "Customer Content"
          means the content, including articles, postings, videos, images and blog entries submitted, posted, or displayed on Companiesandme as part of Customer's or its Users' use of the Services.
        %li
          %strong "Companiesandme Software" 
          means Companiesandme proprietary software used to provide its Services.
        %li
          %strong "Site(s)" 
          means Companiesandme websites. 
        %li
          %strong "Subscription Right" 
          means non-transferable, non-exclusive, non-sublicensable right to provide access to the features and functionality of the Services via the Site(s).
        %li
          %strong "Systems" 
          means a third party hosted facility and/or other systems used by Companiesandme to host the Services.
        %li
          %strong "User(s)" 
          means Customer and its contractors, vendors or employees.
        %li
          %strong "User Data" 
          means the personally identifiable information provided by or collected form Users as part of the Users' registration for and use of the Services.
      
      %li
        %strong Services. 
        Subject to the terms and conditions of this Agreement, Companiesandme agrees to provide Customer access to use the Services solely to provide the functionality of the Services to Users. 
      
      %li
        %strong Software Services
        %ol
          %li
            %strong Services.
            Subject to the payment of the applicable fees, Companiesandme shall make the Services available to Company. Company agrees that purchases hereunder are neither contingent on the delivery of any future functionality or features nor dependent on any oral or written public comments made by Companiesandme regarding future functionality or features.
          %li
            %strong Subscription Right.  
            Subject to the terms and conditions of this Agreement, Companiesandme grants to Customer, for use by the Users the nonexclusive Subscription Right to access and use the functionality of the Services via the Site(s) during the Term.  During the Initial Term, the Services will not be accessible to members of the general public, provided, however, that the parties may agree in writing in on the terms of an amendment to this Agreement to make the Services available to the general public during any Renewal Term (as defined in Section 9.1 below).
      
      %li
        %strong User Privacy and Company Content.
        %ol
          %li
            %strong User Privacy.  
            Companiesandme shall retain all User Data, to be used and disclosed solely in accordance with the terms of the Companiesandme privacy policy posted on the Site(s) by Companiesandme and in compliance with all applicable laws and regulations.  
          %li
            %strong Company Content. 
            Customer or its Users will retain all ownership of the Customer Content and Companiesandme is granted a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed). Customer or its Users also agree to license all Customer Content (excludes logos or other trademarked or copyrighted material owned by Company) under a 
            = link_to "Creative Commons Attribution-Noncommercial-Share Alike 3.0 License.", "http://creativecommons.org/licenses/by-nc-sa/3.0/us/" 
            This license allows use of Content, provided a link back is displayed and other specific criteria are met (see the license for more information).
          %li
            %strong Logos. 
            Customer hereby grants to Companiesandme a non-exclusive license to use Customer's logos and trademarks as provided by Customer solely as set forth in this Agreement. 
      %li
        %strong Customer's Content, Conduct, and Use Guidelines.
        %ol
          %li
            %strong Content Guidelines. 
            Customer agrees that, in order to preserve the integrity and quality of the Site, Content is subject to review by Companiesandme and may be removed for any reason. Content may not include advertising, coupons, coupon codes,   
          %li
            %strong Certain Use Guidelines/Customer Prohibitions.  
            Customer shall not and shall not permit Users to do any of the following acts (individually, a "<strong>Prohibited Act</strong>", and collectively, "<strong>Prohibited Acts</strong>"):  (i) willfully tamper with the security of the Systems or tamper with other customer accounts of Companiesandme; (ii) access data on the System not intended for the Customer; (iii) log into a server or account on the Systems that Customer is not authorized to access; (iv) attempt to probe, scan or test the vulnerability of any Systems or to breach the security or authentication measures without proper authorization; (v) willfully render any part of the Systems unusable; (vi) reverse engineer, de-compile, disassemble or otherwise attempt to discover the source code or underlying ideas or algorithms of the Services; (vii) modify, translate, or create derivative works based on the Services; (viii) rent, lease, distribute, license, sublicense, sell, resell, assign, or otherwise commercially exploit the Services or make the Services available to a third party other than as contemplated in this Agreement; (ix) publish or disclose to third parties any evaluation of the Services without Companiesandme 's prior written consent; (x) remove, modify, obscure any copyright, trademark, patent or other proprietary notice that appear on the Services; (xi) create any link to the Services a or frame or mirror any content contained or accessible from, the Services; or (xii) use the Services in violation of any law or regulation.  Customer acknowledges and agrees that a breach of the restrictions set forth in this Section 5 may cause irreparable injury to Companiesandme for which Companiesandme shall not have an adequate remedy at law, and that Companiesandme shall be entitled to seek equitable relief in any court of competent jurisdiction, including, but not limited to, temporary restraining orders, preliminary injunctions and permanent injunctions.
      
      %li
        %strong Confidentiality.  
        As used herein, "<strong>Confidential Information</strong>" means all confidential information of a Party ("<strong>Disclosing Party</strong>") disclosed to the other Party ("<strong>Receiving Party</strong>"), that the Receiving Party knows or reasonably should know is considered confidential by the Disclosing Party or is designated in writing as confidential, including the terms and conditions of this Agreement.  The Receiving Party agrees to keep confidential all Confidential Information disclosed to it by the Disclosing Party, and to protect the confidentiality thereof in the same manner as it protects the confidentiality of similar information and data of its own (at all times exercising at least a reasonable degree of care in the protection of Confidential Information) and to only use such Confidential Information as is necessary to perform its obligations or exercise its rights under this Agreement.  Each Receiving Party will restrict its employees' access to the Disclosing Party's Confidential Information to only those of its employees necessary to successfully perform or exercise its obligations under this Agreement. Confidential Information shall not include information which: (a) is known publicly; (b) is generally known in the industry before disclosure; (c) has become known publicly, without fault of the Receiving Party, subsequent to disclosure by the Disclosing Party; or (d) has been otherwise lawfully known or received by the Receiving Party. This Section 6 will not be construed to prohibit the disclosure of Confidential Information if such disclosure is required by law or order of the court or other governmental authority. Each Party agrees to give the other Party prompt notice of the receipt of any subpoena or other similar request for such disclosure.
      %li
        %strong Fees and Taxes.
        %ol
          %li
            %strong Fees. 
            The Customer shall pay to Companiesandme all of the fees (collectively the "<strong>Fees</strong>") specified in all Order Forms hereunder. Except as otherwise specified herein or in an Order Form, (i) fees are quoted and payable in United States dollars (ii) fees are based on services purchased and not actual usage, and (iii) payment obligations are non-cancellable and fees paid are non-refundable.
          %li
            %strong Invoicing, Payment and Overdue Payments. 
            Customer will provide Companiesandme with valid and updated credit card information, or with a valid purchase order. If Customer provides credit card information, Customer authorizes Companiesandme to charge such credit for Services listed in the Order Form for the initial subscription term and any renewal subscription term(s) as set forth in Section 9.1 (Term of Purchased User Subscriptions).  Such charges shall be made in advance, either annually or in accordance with any different billing frequency stated in the applicable Order Form. If the Order Form specifies that payment will be by a method other than a credit card, Companiesandme will invoice Customer in advance and otherwise in accordance with the relevant Order Form. Unless otherwise stated in the Order Form, invoiced charges are due net 30 days from the invoice date. Customer is responsible for maintaining complete and accurate billing and contact information with Companiesandme. Any payment not received from Customer by the due date shall accrue at the lower of 1.5% of the outstanding balance per month (being 18% per annum), or the maximum rate permitted by law, from the date such payment is due until the date paid. Customer shall also pay all sums incurred (including reasonable legal fees) in collecting overdue payments. 
          %li
            %strong Suspension of Services.  
            If Customer has not paid all applicable Fees when due, Companiesandme may provide written notice to Customer of such failure and Companiesandme may treat the Customer Account as a Suspended Account.  "Suspended Account" shall mean that all logon attempts to the Services and/or the Site(s) will be blocked until Customer makes the full payment due and owing, including any interest and all other Fees accruing during the suspension period.  If Customer has not paid such Fees within 30 days of the date of  Companiesandme's notice of suspension, then in addition to any other rights and remedies (including the termination rights set forth in this Agreement), Companiesandme reserves the right to treat the Customer Account as a Cancelled Account without liability to  Companiesandme, until such account is paid in full. "Cancelled Account" shall mean all data within the Customer Account will be permanently erased and the Customer Account will be terminated. A Suspended Account or Cancelled Account does not remove Customer's obligation to pay those amounts outstanding to the date of such suspension or cancellation or thereafter for the remainder of the Term or Renewal Term, as the case may be.
          %li
            %strong Taxes.  
            Customer shall be responsible for all sales, use, value added, or other taxes or duties, as applicable, payable with respect to the Services, or otherwise arising out of or in connection with this Agreement, other than  Companiesandme's income taxes (excluding withholding taxes as set forth below).  If Companiesandme pays any taxes on Customer's behalf, Customer agrees to reimburse Companiesandme for such payment immediately upon demand. 
      %li
        %strong Ownership. 
        Customer acknowledges and agrees that Companiesandme Software, the Services, all intellectual property rights therein (including without limitation, copyrights, patents, trade secrets, trade marks, moral rights and other intellectual property rights, in and to the Services, all modifications, changes, enhancements, or additions thereto) (collectively, "<strong>Companiesandme IP</strong>"), are owned or licensed by  Companiesandme.  To the extent Customer acquires rights in the Companiesandme IP, Customer assigns such rights to Companiesandme and waives any moral rights it may have in the Companiesandme IP to and in favor of Companiesandme.  Except for the Subscription Rights, nothing in this Agreement gives the Customer any right, title or interest in, to or under the Services, or any intellectual property rights therein. 
      %li
        %strong Term and Termination.  
        %ol
          %li
            %strong Term of Purchased Subscriptions. 
            User subscriptions purchased by Customer commence on the start date specified in the applicable Order Form and continue for the subscription term specified therein. Except as otherwise specified in the applicable Order Form, all User subscriptions shall automatically renew for additional periods equal to the expiring subscription term or one year (whichever is shorter), unless either party gives the other notice of non-renewal at least 30 days before the end of the relevant subscription term. The per-unit pricing during any such renewal term shall be the same as that during the prior term unless Companiesandme has given Customer written notice of a pricing increase at least 30 days before the end of such prior term, in which case the pricing increase shall be effective upon renewal and thereafter.  Any such pricing increase shall not exceed 7% over the pricing for the relevant Services in the immediately prior subscription term, unless the pricing in such prior term was designated in the relevant Order Form as promotional or one-time.
          %li
            %strong Termination.  
            This Agreement may be terminated by either Party upon the occurrence of any of the following Certain Use Guidelinesevents, which shall be deemed to be a breach of the terms of this Agreement: (a) if either Party fails to perform any of its obligations, or there is a material breach of any of the provisions of this Agreement; provided that the Party terminating this Agreement shall first have given prior written notice to the other of its intent to terminate, together with details of the default causing the termination, and the Party receiving such notice shall have been given 30 days to cure any such default; or (b) immediately, if either Party (A) ceases or threatens to cease to carry on its business, commits an act of bankruptcy, or proposes a compromise or arrangement to its creditors, or (B) is subject to any proceeding that is taken to (i) compromise or make an arrangement with that party's creditors, (ii) obtain an order to assign that party into bankruptcy or winding-up that  party, or (iii) obtain an order to appoint a receiver over any part of that party's assets, and in each case, such proceeding are not dismissed within 60 days of such proceeding being initiated.
          %li
            %strong Events on Termination.  
            Upon termination of this Agreement: 
            %ol.list-lower-latin
              %li
                each of the Parties shall deliver or destroy all Confidential Information of the other Party (including, without limitation confidential information) which is in its possession, care or control;
              %li
                if Customer terminates this Agreement in accordance with Section 9.2(a), Customer shall only pay those Fees that have accrued up to the date of its notice of termination;
              %li
                each of the Parties shall release the other from all obligations under this Agreement, except for obligations accrued and owing up to the effective date of termination and those surviving obligations set forth in Section 9.3(d) hereof; and
              %li
                the provisions in Sections 1, 5, 6, 7, 8, 9, 10.2, 11, 12 and 13 of this Agreement shall continue in force following termination of this Agreement.
            %li
              %strong Suspension of Customer Account. 
              Notwithstanding the foregoing, Companiesandme reserves the right to suspend the Customer Account at any time if Companiesandme believes that such suspension is reasonably necessary to prevent or mitigate a breach of the restrictions set forth in Section 5 above.  
      %li
        %strong Limited Warranties and Disclaimers.
        %ol
          %li
            %strong Warranty. 
            Companiesandme warrants that the Services will operate in substantial conformity with the functionality visible on the Site.  For any breach of this warranty, the Customer's sole and exclusive remedy and  Companiesandme's sole and exclusive liability shall be for Companiesandme to correct any reported failure in the Services causing a breach of this warranty.  Companiesandme has implemented Appropriate Security Measures (as hereinafter defined) and maintains the Services at reputable third party Internet service providers and hosting facilities. "<strong>Appropriate Security Measures</strong>" means commercially reasonable technical, physical and procedural controls to protect User Data against destruction, loss, alteration, unauthorized disclosure to third parties or unauthorized access by employees or contractors employed by  Companiesandme, whether by accident or otherwise.  However, the Customer acknowledges and agrees that, notwithstanding such Appropriate Security Measures, use of or connection to the Internet provides the opportunity for unauthorized third parties to circumvent such precautions and illegally gain access to the Services and User Data.  Accordingly, Companiesandme cannot and does not guarantee the privacy, security or authenticity of any information so transmitted over or stored in any system connected to the Internet.
          %li
            %strong Exclusions: 
            Except as expressly stated in this Section 10, there are no warranties or conditions (whether implied or arising by statute or otherwise in law or from a course of dealing or usage of trade) for the Services. COMPANIESANDME disclaims all STATUTORY OR implied warranties AND conditions including without limitation the conditions AND/or warranties of merchantability, fitness for any PARTICULAR purpose, AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS.  Companiesandme does not warrant that the functions contained in the Services will meet Customer's requirements or that the operation of the Services will be uninterrupted or error-free.  Further, Companiesandme does not warrant that all errors in the Services can or will be corrected.
      %li
        %strong Limitation of Liability.
        %ol.list-lower-latin
          %li
            EXCEPT FOR CUSTOMER'S BREACH OF THE RESTRICTIONS SET FORTH IN SECTION 5, A PARTY'S BREACH OF ITS CONFIDENTIALITY OBLIGATIONS AND EACH PARTY'S INDEMNIFICATION OBLIGATIONS, NEITHER PARTY, ITS SUPPLIERS, AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES OR AGENTS SHALL be liable for any loss, injury, cause of action (whether in contract, tort (including negligence) or otherwise), liability or damage of any kind for ANY CAUSE RELATED TO OR ARISING OUT OF THIS AGREEMENT, WHETHER IN CONTRACT, NEGLIGENCE OR TORT, IN EXCESS OF THE TOTAL FEES AND CHARGES PAID BY CUSTOMER FOR THE SERVICES DURING THE TWELVE (12) MONTH PERIOD IMMEDIATELY PRIOR TO THE DATE THE CAUSE OF ACTION AROSE.
          %li
            EXCEPT FOR CUSTOMER'S BREACH OF THE RESTRICTIONS SET FORTH IN SECTION 5, A PARTY'S BREACH OF ITS CONFIDENTIALITY OBLIGATIONS AND EACH PARTY'S INDEMNIFICATION OBLIGATIONS, IN NO EVENT SHALL EITHER PARTY OR ITS SUPPLIERS, AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES OR AGENTS BE LIABLE FOR ANY SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES OF ANY KIND WHATSOEVER, WHETHER OR NOT FORESEEABLE (INCLUDING, WITHOUT LIMITATION, LEGAL FEES) IN ANY WAY DUE TO, RESULTING FROM, OR ARISING IN CONNECTION WITH THIS AGREEMENT, REGARDLESS OF EITHER PARTY'S NEGLIGENCE OR FOR ANY CAUSE OF ACTION WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION INCLUDING, Without limiting the generality of the foregoing, loss of business, lost profits or revenue, failure to realize expected savings, lost data or any failure of security resulting in any way from the Customer or User's use of the Services AND/OR THE SITE ARISING OUT OF, OR RESULTING FROM THE USE OF OR INABILITY TO USE THE SERVICES OR SYSTEMS, EVEN IF Companiesandme HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
          %li
            The essential purpose of this Section 11 is to limit the potential liability of the Parties arising under this Agreement.  The Parties acknowledge that the limitations set forth in this Section 11 are intricate to the amount of consideration levied in connection with the use of the Services and that, were Companiesandme to assume any further liability, such consideration would out of necessity, been set much higher.
      %li
        %strong Indemnification.
        %ol
          %li 
            %strong Customer Indemnification.  
            Customer agrees to indemnify and hold harmless Companiesandme and its officers, directors, shareholders, employees and agents from and against all third party Claims (i) arising from any Prohibited Acts or (ii) that the Customer Content infringes, misappropriates or violates any copyrights, trademarks, trade secrets or other proprietary rights of, or has otherwise caused harm to, a third party. "<strong>Claim</strong>" shall mean all losses, liabilities, damages, claims, taxes, and all related costs and expenses incurred by a Party only as the direct result of third party claims against such Party, including, without limitation, reasonable attorney's fees and costs of investigation, litigation, settlement, judgment, interest and penalties.  
          %li
            %strong Companiesandme Indemnification.  
            Companiesandme shall indemnify and hold harmless Customer and its officers, directors, shareholders, employees and agents arising from and against all third party Claims for infringement, misappropriation or violation of United States copyrights and United States patents associated with any portion of the Services. Notwithstanding the foregoing (but subject to Section 12.1), if Companiesandme reasonably believes that the use of any portion of the Services a is likely to be enjoined by reason of a Claim of infringement, violation or misappropriation of any third party's copyrights, trademarks, trade secrets or other proprietary rights, then Companiesandme may, at its sole option and expense: (i) procure for the Customer the right to continue using the Services or any portion thereof; (ii) replace the same with other software, services or other material of equivalent functions and efficiency that is not subject to an action described in this section; or (iii) modify the applicable software, support services or other material so that there is no longer any infringement or breach, provided that such modification does not adversely affect the functional capabilities of the Services as set out herein. Companiesandme shall have no liability respecting any Claim of infringement or breach as aforesaid to the extent such Claim is based upon the combination, operation or use of the Services with other equipment, software, apparatus, devices or things not supplied by Companiesandme or in a manner not substantially consistent with Companiesandme's specifications and instructions. This section states the entire liability of Companiesandme for any type of infringement or breach whatsoever of intellectual property rights of third parties resulting from or relating to the provision by Companiesandme of the Services.
          %li
            %strong Mutual Provisions.  
            Each Party's indemnity obligations in this Section 11 are subject to the following: (i) the aggrieved party shall promptly notify the indemnifying party in writing of the Claim; (ii) the indemnifying party shall have sole control of the defense and all related settlement negotiations with respect to the Claim; and (iii) the aggrieved party shall cooperate fully to the extent necessary, and executes all documents necessary for the defense of such Claim.
      %li
        %strong General Provisions.  
        During the Term of this Agreement and for a period of one (1) year following the termination of this Agreement, Customer shall not solicit or induce any employee or independent contractor of Companiesandme that has performed services under this Agreement to terminate any employment, contractual or other relationship with Companiesandme during this period.  This Agreement, inclusive of the Exhibits and any amendments or additions thereto, constitutes the entire agreement and sets forth the entire understanding between the Parties with respect to the subject matter hereof and supersedes all prior agreements, covenants, arrangements and discussions with respect thereto.  Nothing contained in this Agreement shall be deemed or construed as creating a joint venture or partnership between the Parties; no Party is by virtue of this Agreement authorized as an agent, employee or agent representative of the other Party.  Nothing in this Agreement will be construed to prevent Companiesandme from marketing, licensing, selling or otherwise providing the Services or Systems or any aspects of  Companiesandme's technology or services to any third party.  No modification of, amendment or addition to this Agreement is valid or binding unless set forth in writing and fully executed by both Parties. Any waiver of any right or remedy under this Agreement must be in writing and signed by each Party.  No delay in exercising any right or remedy shall operate as a waiver of such right or remedy or any other right or remedy. A waiver on one occasion shall not be construed as a waiver of any right or remedy on any future occasion.  This Agreement and any rights or obligations hereunder, shall not be assigned, sublicensed or otherwise transferred by Customer. Companiesandme may transfer or assign its rights and obligations hereunder without prior written approval of Customer. This Agreement shall be binding upon and shall inure to the benefit of Companiesandme and Customer and each of their successors and permitted assigns.  The rights and obligations of the Parties and all interpretations and performance of this Agreement shall be governed by and construed in accordance with the laws of the State of California, USA, without regard to conflicts of laws principles. The parties agree that the provisions of the United Nations Convention on Contracts for the International Sale of Goods do not apply to this Agreement.  Any dispute between Companiesandme and Customer under this Agreement involving its interpretation or the obligations of a party hereto, shall be determined by binding arbitration in accordance with the commercial arbitration rules of Judicial Arbitration and Mediation Services, in San Francisco, California ("JAMS").  A single arbitrator shall be selected according to JAMS rules within thirty (30) days of submission of the dispute to JAMS.  The arbitrator shall have the authority to permit discovery, to the extent deemed appropriate by the arbitrator, upon request of a party. The arbitrator shall have no power or authority to add to or detract from the agreements of the parties.  The cost of the arbitration shall be borne equally pending the arbitrator's award.  The arbitrator shall have the authority to grant any temporary, preliminary, or permanent injunctive or other equitable relief in a form substantially similar to that, which would otherwise be granted by a court.  The resulting arbitration award may be enforced by all lawful remedies, including without limitation injunctive or other equitable relief in any court of competent jurisdiction.  The courts located in San Francisco, California are courts of competent jurisdiction. The parties agree to submit to the jurisdiction of those courts for all purposes concerning any arbitration. Notwithstanding the foregoing, the parties agree that Companiesandme shall have the right to seek a temporary or permanent injunction (or other equitable relief), and file the necessary underlying lawsuit, in any court having jurisdiction over the Parties anywhere in the world as necessary to protect Companiesandme's rights.  Any notices, demands and other communications hereunder shall be in writing and shall be delivered, sent by electronic transmission, or by mail, registered or certified, return receipt requested, postage prepaid, and addressed to the addresses set forth above or such other address as a Party may designate in writing to the other Party.  If any provision of this Agreement is held to be unenforceable or illegal by a court of competent jurisdiction, such provision shall be modified to the extent necessary to render it enforceable, or shall be severed from this Agreement, and all other provisions of this Agreement shall remain in full force and effect.  This Agreement may be executed in several counterparts each of which when executed shall be deemed to be an original, and such counterparts shall each constitute one and the same instrument and notwithstanding their date of execution shall be deemed to bear the day and year first above written.  Except for Customer's payment obligations, neither Party shall be liable to the other Party for any failure or delay in performance by circumstances beyond its control, including but not limited to, acts of God, fire, labor difficulties, governmental action or terrorism, provided that the Party seeking to rely on such circumstances gives written notice of such circumstances to the other Party and uses reasonable efforts to overcome such circumstances.  

