.terms
  %h3.h3.u Your Privacy Matters to Us
  %p This Privacy Policy describes Companiesandme's policies and procedures on the collection, use and disclosure of your information. Companiesandme receives your information through our web sites, services and third-parties ("Services"). When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country that you reside in or create information from, your information may be used by Companiesandme in the United States or any other country where Companiesandme operates.
  %p If you have any questions or comments about this Privacy Policy, please contact us at privacy@companiesandme.com.
  %p
    %strong Information Collection and Use
  %p
    %strong Information Collected Upon Registration: 
    When you create or reconfigure a Companiesandme account, you provide some personal information, such as your name, password, and email address. Some of this information, for example, your name, is listed publicly on our Services, including on your profile page and in search results. The majority of our Services are public and do not require registration.
  %p
    %strong Additional Information: 
    You may provide us with additional information to make public, such as a short biography, your location, or a picture. We may use your contact information to send you information about our Services or to market to you. 
  %p
    %strong Responses: 
    Our Services are primarily designed to help you engage in a conversation with participating companies. Your responses are public and should be treated accordingly. You should be careful about all information that will be made public by Companiesandme.
  %p
    %strong Log Data: 
    Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, the referring domain, pages visited, and search terms. 
  %p
    %strong Cookies: 
    Like many websites, we use "cookie" technology to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services such as searching and looking at public user profiles or lists. A cookie is a small data file that is transferred to your computer's hard disk. Companiesandme may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.
  %p
    %strong Third Party Services: 
    Companiesandme uses Google Analytics to help understand use of our Services. Through Google, Analytics collects the information sent by your browser as part of a web page request, including cookies and your IP address. Google also receives this information and their use of it is governed by their Privacy Policy.
  %p
    %strong Information Sharing and Disclosure
  %p
    %strong Service Providers: 
    We engage certain trusted third parties to perform functions and provide services to us. We may share your personal information with these third parties, but only to the extent necessary to perform these functions and provide such services, and only pursuant to obligations mirroring the protections of this privacy policy.
  %p
    %strong Law and Harm: 
    We may disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Companiesandme's rights or property.
  %p
    %strong Non-Private or Non-Personal Information: 
    We may share or disclose your non-private, aggregated or otherwise non-personal information.
  %p
    %strong Modifying Your Personal Information
  %p If you are a registered user of our Services, we provide you with tools to access or modify the personal information you provided to us and associated with your account.
  %p
    %strong Our Policy Towards Children
  %p
    Our Services are not directed to people under 13. If you become aware that your child has provided us with personal information without your consent, please contact us at
    = "#{mail_to 'privacy@companiesandme.com'}."
    We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account.
  %p
    %strong Changes to this Policy
  %p
    We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at
    = "#{link_to url_for(:controller => 'static_pages', :action => 'show_terms', :term => 'privacy-policy', :only_path => false), url_for(:controller => 'static_pages', :action => 'show_terms', :term => 'privacy-policy')}."
    If we make a change to this policy that, in our sole discretion, is material, we will notify you via e-mail to the email associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.

