.terms
  %h3.h3.u Our Terms of Use

  %p Below are the Terms of Use for Companiesandme. You may also be interested in our:
  %ul
    %li= link_to "Community Guidelines", '/useful-stuff/community-guidelines'
    %li= link_to "Privacy Policy", '/useful-stuff/privacy-policy'
    %li= link_to "Terms for Companies", '/useful-stuff/company-terms'

  %p As a community member ("User") of or participating company ("Company") on the Companiesandme.com website, a service of Companiesandme, you are agreeing to be bound by the following terms and conditions ("Terms of Use"). 

  %p
    %strong Basic Terms
  %ol
    %li You must be 13 years or older to use this site.
    %li You are responsible for any activity that occurs under your account.
    %li You are responsible for keeping your password secure.
    %li You must follow the Community Guidelines and not abuse, harass, threaten, impersonate or intimidate other users.
    %li You must only use the Companiesandme.com service for noncommercial, personal purposes. All commercial use must be pre-approved and are bound by additional terms of their commercial relationship with Companiesandme ("Service Agreement").
    %li You are solely responsible for your conduct and any data, text, information, names, graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on the Companiesandme.com service.
    %li You must not modify, adapt or hack Companiesandme.com or modify another website so as to falsely imply that it is associated with Companiesandme.com.
    %li You must not create or submit unwanted email to any Companiesandme members ("Spam").
    %li You must not transmit any worms or viruses or any code of a destructive nature.
    %li You must not, in the use of Companiesandme, violate any laws in your jurisdiction (including but not limited to copyright laws), or illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.

  %p Violation of any of these agreements will result in the termination of your Companiesandme.com account. While Companiesandme.com prohibits such conduct and content on its site, you understand and agree that Companiesandme cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the Companiesandme.com service at your own risk.

  %p
    %strong General Conditions

  %ol
    %li We reserve the right to modify or terminate the Companiesandme.com service for any reason, without notice at any time.
    %li We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via email according to the preference expressed on your account. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgment.
    %li We reserve the right, in accordance with any applicable laws, to refuse service to anyone for any reason at any time.
    %li We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.
    %li We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content. Companiesandme is not liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content.

  %p
    %strong Copyright and Sharing
  %ol
    %li
      The Companiesandme service hosts Content (we call them conversations on the site), which may be posted on outside websites (excludes logos and other trademarked or copyrighted material owned by a participating Company, and the logos and website of Companiesandme itself). This use is accepted (and even encouraged!). However, pages on other websites which display data hosted on Companiesandme.com must provide a link back to Companiesandme, under 
      = link_to "Creative Commons Attribution-Noncommercial-Share Alike 3.0 License.", "http://creativecommons.org/licenses/by-nc-sa/3.0/us/"
    %li
      Companiesandme undertakes to obey all relevant copyright laws. We will review all claims of copyright infringement received and remove content deemed to have been posted or distributed in violation of any such laws. To make a claim, please provide us with the following:
      %ol
        %li A physical or electronic signature of the copyright owner or the person authorized to act on its behalf;
        %li A description of the copyrighted work claimed to have been infringed;
        %li A description of the infringing material and information reasonably sufficient to permit Companiesandme to locate the material;
        %li Your contact information, including your address, telephone number, and email;
        %li A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
        %li A statement that the information in the notification is accurate, and, under the pains and penalties of perjury, that you are authorized to act on behalf of the copyright owner.

  %p Claims can be sent to copyright@companiesandme.com or Companiesandme, Post Office Box 2039, San Francisco, CA 94126. Contact the agent designated to receive and act on copyright violations under the Digital Millennium Copyright Act (DMCA).

